<% if user_signed_in? %>

  <div class= "row">
    <div class = "col-sm-3">
      <%= image_tag current_user.image, class: "img-responsive img-circle" %>
    </div>
    <div class = "col-sm-6">
      <h2><%= current_user.name %></h2>
      <%= link_to "delete user account", "/users", method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: current_user.name %>
    </div>
  </div>
  <% current_user.projects.each do |project| %>

    <h3><%= link_to project.name, project_path(project.id) %> 
      <small><%= "#{project.description}" %> 
        <span class="badge"><%= "#{project.emails.size}" %></span>
      </small>
    </h3>

    <%= link_to "delete project", project, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: project.name %><br/>
  <% end %>

    <h3><%= link_to 'Create New Project', new_project_path, class: "btn btn-large btn-primary" %></h3>
<% else %>

      <div class="jumbotron">
        <h1>Emailysis</h1>
        <p class="lead">Do you know what's in the box?</p>
        <p>developing custom structures for your email.</p>
        <p><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-large btn-primary" %></p>
      </div>

      <div class="row marketing">

          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>


      </div>

<% end %>

