<!DOCTYPE html>
<html>
<head>
  <title>Emailysis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container"> 
<%= render 'layouts/header' %>

  <% if !notice.nil? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if !alert.nil? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>

</div>

<%= render 'layouts/footer' %>
<script type="text/javascript">
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');

</script>
</body>
</html>
